body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
}

.content {
    display: grid;
    border-radius: 50px;
    border: black 5px solid;
    width: 60vw;
    height: 60vh;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8, 12.5%);
    background-color: aliceblue;
}


.addNewProjectPage {
    display: grid;
    grid-column: 1/9;
    grid-row: 1/9;
    align-content: center;
    justify-items: center;
}

.landingPage {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.headerContainer {
flex-direction: row;
justify-content: center;
}

.header {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}


.projects {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
grid-gap: 20px;
justify-items: center;
width: 100%;
}


.projectContainer {
border: 1px solid black;
padding: 10px;
margin-bottom: 10px;
display: flex;
flex-direction: column;
width: 100%;
position: relative;
}


.projectContainerHeader {
font-size: 1rem;
margin-bottom: 10px;
}

.projectContainerPriority {
font-size: 1rem;
margin-bottom: 5px;
}

.projectContainerDueDate {
font-size: 1.4rem;
margin-bottom: 5px;
}

.projectContainerDescription {
font-size: 0.9rem;
margin-bottom: 10px;
}

.deleteButton {
position: absolute;
top: 10px;
right: 10px;
}

.hidden {
    display: none;
}

.dragging {
    opacity: 0.5;
}